<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="2014.1.1" data-view="Milestone" data-title="milestone 1" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="2014.1.2" data-view="Milestone" data-title="milestone 2" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="juno-1" data-view="Milestone" data-title="untargeted" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="untargeted" data-view="Milestone" data-title="untargeted" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>


    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bugs_2014.1.1" data-view="Bugs" data-title="milestone 1" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="bugs_2014.1.2" data-view="Bugs" data-title="bugs milestone-2" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="bugs_juno-1" data-view="Bugs" data-title="bugs untargeted" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="bugs_untargeted" data-view="Bugs" data-title="bugs untargeted" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>


    <li data-row="3" data-col="4" data-sizex="1" data-sizey="2">
      <div data-id="current-tasks" data-view="List" data-unordered="true" data-title="Current Tasks" data-moreinfo="# of times said around the office"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="team" data-view="Fullpie" data-title="Team"></div>
    </li> 

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Bugs" data-moreinfo="# of times said around the office"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Long running tasks" data-moreinfo="# of times said around the office"></div>
    </li>

  </ul>
</div>
