<div class="gridster">
  <ul>
<%#
We will split the dashboard like this: 
overall overview :      
a special widget for series progression 
a special widget for each milestone progression, including  a spec/bug/task summary the milestone can be clickable and will then show a special dashboard 
%>

<% 
overall_overview = true #!params[:milestone] 
%>

<% if overall_overview %>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="series-overview" data-view="Series" data-title="Series"></div>
    </li>
<% else %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="2014.1.1" data-view="Milestone" data-title="Milestone" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="2014.1.1" data-view="Specs" data-title="Specs" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="2014.1.1" data-view="Tasks" data-title="Tasks" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="2014.1.1" data-view="Bugs" data-title="Bugs" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>
<% end %>


  </ul>
</div>
