<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="project_<%= ENV["PROJECT_ID"] %>" data-view="Project" data-title="Project <%=ENV["PROJECT_ID"] %>"></div>
    </li>
  </ul>
</div>
