<% 
milestones_ids = ENV["MILESTONES_IDS"].split(",")
%>

<div class="gridster">
  <ul>

<%
milestones_ids.each_index { |i|
%>
    <li data-row="1" data-col="<%= i+1 %>" data-sizex="1" data-sizey="1">
      <div data-id="milestone_<%= milestones_ids[i] %>" data-view="Milestone" data-title="Milestone" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>

    <li data-row="2" data-col="<%= i+1 %>" data-sizex="1" data-sizey="1">
      <div data-id="bugs_<%= milestones_ids[i] %>" data-view="Specs" data-title="Specs" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>
<%
}
%>
  </ul>
</div>
